<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <div class="login form-group" *ngIf="mode==='login'">
            <p>
                <label for="email">Email </label>
                <input id="email" name="email" class="form-control" type="text" [formControl]="email">
            </p>
            <p>
                <label for="username">Username </label>
                <input id="username" name="username" class="form-control" type="text" [formControl]="username" >
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" type="password" [formControl]="password" >
            </p>
        </div>
        <div class="login form-group" *ngIf="mode==='register'">
            <p>
                <label for="email">Email</label>
                <input type="text" id="email" name="email"  class="form-control" [formControl]="email" >
            </p>
            <p>
                <label for="username">Username</label>
                <input id="username" name="username" class="form-control" type="text" [formControl]="username" >
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" name="password" class="form-control" type="password" [formControl]="password" >
            </p> 
            <p>
                <label for="role">Role</label>
                <select formControlName="role">
                    <option [ngValue]="null" disabled>Select Role</option>
                    <option *ngFor="let role of roles" [ngValue]="role.name" (click)="switchRole(role.name)">{{role.name}}</option>
                </select>
            </p> 
        </div>
        <div class="form-group">
            <button class="login-btn" *ngIf="mode==='login'" (click)="switchMode('register')">New User?</button>
            <button class="login-btn" *ngIf="mode==='login'" (click)="login()">Login</button>
            <button class="register-btn" *ngIf="mode==='register'" (click)="switchMode('login')">Already have an account?</button>
            <button class="login-btn" *ngIf="mode==='register'" (click)="register()">Register</button>
        </div>
    </div>
</body>
</html>