<nav class="full-nav">
    <div class="links-logo-nav">
        <div class="logo-nav">
            <img src="" alt="LOGO/HOME" href="/home">
        </div>
        <div class="buttons-nav">
            <button type="button" href="/home">Home</button>
            <button href="/profile">Profile</button>
            <button href="/cart">Cart</button>
            <button href="/secret">Secret</button>
            <button href="/login">Login</button>
        </div>
    </div>
</nav>
<div class="login-menu">
    <div class="card">
        <form class="card-body">
            <h5 class="card-title">login</h5>
            <input type="email" placeholder="email">
            <input type="password" placeholder="password" class="password">
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
</div>
